@import "tailwindcss";

@theme {
      --color-primary: #6366f1;
        --color-secondary: #8b5cf6;
        --color-accent: #ec4899;
        --color-dark: #1e293b;
        --color-light: #f8fafc;
    
}

select:focus-visible {
  border: none;
  border-radius: 23px;
  outline: none;
}